<ion-view title="PPC">
	<ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-plus-circled"
     	href="#/app/ppc/new">Create
    </a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search..."
      ng-model="filter_text">
  </ion-header-bar>
  <ion-content class="has-header">
    <div>
      <ion-list class="">
        <div class="item item-divider">
          PPCs
          <span class="badge">{{ppcs.length || 0}}</span>
        </div>
        <ion-item 
        	collection-repeat="ppc in ppcs | filter : filter_text"
	        collection-item-width="'100%'"
	        collection-item-height="getItemHeight()"
	        class="my-item" href="#/app/ppcs/{{$index}}">
	        {{ppc.no}} <span class="badge">Volume: {{ppc.totalVolume || 0}}</span>
	      </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding-left:20px;">
    <span ><b>PPCs to Sync:</b> <i class="badge badge-assertive"> {{totalToSync || 0 }}</i></span>
    <button ng-click="sync()" class="button icon ion-paper-airplane pull-right button-energized" ng-if="totalToSync > 0">Send data to server</button>
  </ion-footer-bar>
</ion-view>