<ion-view title="{{title}}">
  <ion-content class="has-header padding">
    <form ng-submit="addLog(log)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Contractor No.</span>
          <input type="number" ng-model="log.contractorNo" required>
        </label>                      
        <label class="item item-input">
          <span class="input-label">Mid-Point Diameter</span>
          <input type="number" ng-model="log.dmp" step="any" required min="1">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Length</span>
          <input type="number" ng-model="log.length" min="1" step="any" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Volume</span>
          <input type="text" ng-model="log.volume" readonly="readonly" required>
        </label>   
      </div>
      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive icon-left ion-plus-circled" type="submit">Save</button>
          <a ng-show="editLog" class="button button-assertive icon-left ion-close-circled" ng-click="removeLog(log._index)">Remove Log</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>