<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(ppc)">
    <div class="list">
      <li class="item item-toggle">
         Auto-Generate Reference
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="ppc.generateId" ng-change="referenceChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input item-button-right">
        <span class="input-label">Reference Number</span>
        <input type="text" ng-model="ppc.no" required ng-readonly="ppc.generateId">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Permit
        </div>
        <select ng-model="ppc.permit" required 
          ng-options="permit as permit.registerCode for permit in permits track by permit.oid">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Harvert Area
        </div>
        <select ng-model="ppc.harvestArea" required 
          ng-options="area as area.area for area in ppc.permit.rSWforestCertificateAreaOid track by area.oid">
        </select>
      </label>
      <label class="item item-input item-stacked-label item-select">
        <span class="input-label">Species</span>
        <select ng-model="ppc.specie" ui-select2="" 
          data-placeholder='Select Specie' required style="width:80%" 
          ng-options="specie as specie.code + ' - ' + specie.tradeName for specie in species track by specie.oid">
          <option></option>
        </select>
      </label> 
      <label class="item item-input">
        <span class="input-label">Supervisor</span>
        <input type="text" ng-model="ppc.supervisor" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="ppc.date" required>
      </label>
      <label class="item item-input">
        <textarea ng-model="ppc.notes" rows="4" placeholder="Comments"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-checkmark-circled"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>