<ion-view title="PPC">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose"
      href="#/app/ppc/{{ppc._index}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{ppc.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>Permit Number:</strong>{{ppc.permit.registerCode}}</p>
        <p>
          <strong>Plantation Area:</strong>{{ppc.permit.rSWlocation.location}}
          <strong class="rec2">Harvest Area:</strong>{{ppc.harvestArea.area}}
        </p>
        <p><strong>Species:</strong>{{ppc.specie.code}} - {{ppc.specie.tradeName}}</p>
        <p><strong>Contractor:</strong>{{ppc.permit.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{ppc.supervisor}}</p>
        <p>
          <strong>Number of Logs:</strong>{{ppc.rSWplantationProductionLine.length || 0}}
          <strong class="rec2">Total Volume:</strong>{{ppc.totalVolume || 0}}
        </p>
        <p><strong>Date:</strong>{{ppc.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div class="down-margin">
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{ppc.rSWplantationProductionLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in ppc.rSWplantationProductionLine track by log.lineNo" href="#/app/plog/{{ppc._index}}/{{$index}}">
          <ul>
            <li><strong>No: </strong>{{log.contractorNo}}</li>
            <li><strong>Diameter: </strong>{{log.dmp}}</li>
            <li><strong>Lenght: </strong>{{log.length}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <a class="button button-static  icon-left ion-plus-circled" href="#/app/plog/{{ppc._index}}/new">Add Log</a>
    <!-- <div class="title">Title</div> -->
    <button class="button button-assertive icon-left ion-trash-a" ng-click="delete()">Delete PPC</button>
  </div>
</ion-view>