<ion-view title="LMCC Form">
	<ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-plus-circled"
     	href="#/app/lmcc/new">Create
    </a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search..."
      ng-model="filter_text">
  </ion-header-bar>
  <ion-content class="has-header">
    <div>
      <ion-list class="">
        <div class="item item-divider">
          LMCCS
          <span class="badge">{{lmccs.length || 0}}</span>
        </div>
        <ion-item 
        	collection-repeat="lmcc in lmccs | filter : filter_text"
	        collection-item-width="'100%'"
	        collection-item-height="getItemHeight()"
	        class="my-item" href="#/app/lmccs/{{$index}}">
	        {{lmcc.no}} <span class="badge">Volume: {{lmcc.totalVolume || 0}}</span>
	      </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable">
  <span ><b>LMCCs to Sync:</b> <i class="badge badge-assertive"> {{totalToSync || 0 }}</i></span>
    <button ng-click="sync()" ng-if="totalToSync > 0" class="button icon ion-paper-airplane pull-right button-energized">Send data to server</button>
  </ion-footer-bar>
</ion-view>