<ion-view title="{{title}}">
  <!-- <ion-header-bar>
    <h1 class="title">{{title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogForm()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content class="has-header padding">
    <form ng-submit="addLog(log)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">TIF Reference</span>
          <input type="text" ng-model="log.tIFNo" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Stock Number</span>
          <input type="text" ng-model="log.stockNo" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contractor Number</span>
          <input type="text" ng-model="log.contractorNo" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Log No</span>
          <input type="text" ng-model="log.logNo" required>
        </label>
        <label class="item item-input item-stacked-label item-select">
          <div class="input-label">Species</div>
          <select ng-model="log.specie" ui-select2="" 
            data-placeholder='Select Specie' required style="width:80%" 
            ng-options="specie as specie.code + ' - ' + specie.tradeName for specie in species track by specie.oid">
            <option></option>
          </select>
        </label>
        <li class="item item-toggle">
         <label><strong>2-Diameter Measurement</strong></label>
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="log.measurement">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>        
        <label class="item item-input">
          <span class="input-label">DB 1</span>
          <input type="number" ng-model="log.db1" required min="1">
        </label>
        <label class="item item-input" ng-show="(log.measurement)">
          <span class="input-label">DB 2</span>
          <input type="number" ng-model="log.db2" min="0">
        </label>
        <label class="item item-input" ng-show="(log.measurement)">
          <span class="input-label">DB</span>
          <input type="number" ng-model="log.db" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">DT 1</span>
          <input type="number" ng-model="log.dt1" required>
        </label>
        <label class="item item-input" ng-show="(log.measurement)">
          <span class="input-label">DT 2</span>
          <input type="number" ng-model="log.dt2" min="0">
        </label>
        <label class="item item-input" ng-show="(log.measurement)">
          <span class="input-label">DT</span>
          <input type="number" ng-model="log.dt" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">Length</span>
          <input type="number" ng-model="log.length" min="1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Volume</span>
          <input type="text" ng-model="log.volume" readonly="readonly" required>
        </label>   
      </div>
      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive icon-left ion-plus-circled" type="submit">Save</button>
          <a ng-show="editLog" class="button button-assertive icon-left ion-close-circled" ng-click="removeLog(log._index)">Remove Log</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>