<ion-view title="LMCC">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose"
      href="#/app/lmcc/{{lmcc._index}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{lmcc.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p>
          <strong>TUC:</strong>{{lmcc.certificate.registerCode}}
          <strong class="rec2">Compartment:</strong>{{lmcc.compartment.no}}
        </p>
        <p><strong>Contractor:</strong>{{lmcc.certificate.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{lmcc.supervisor}}</p>
        <p><strong>Destination:</strong>{{lmcc.destination.location}}</p>
        <p>
          <strong>Vehicle Number:</strong>{{lmcc.vehicle}}
          <strong class="rec2">Driver Name:</strong>{{lmcc.driver}}
        </p>
        <p>
          <strong>Number of Logs:</strong>{{lmcc.rSWdeliveryDocketLine.length || 0}}
          <strong class="rec2">Total Volume:</strong>{{lmcc.totalVolume || 0}}
        </p>
        <p><strong>Date:</strong>{{lmcc.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div>
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{lmcc.rSWdeliveryDocketLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in lmcc.rSWdeliveryDocketLine track by log.lineNo" href="#/app/log/{{lmcc._index}}/{{$index}}">
          <ul>
            <li><strong>Log Number: </strong>{{log.logNo}}</li>
            <li><strong>Species: </strong>{{log.specie.code}} - {{log.specie.tradeName}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <a class="button button-static icon-left ion-plus-circled" href="#/app/log/{{lmcc._index}}/new">Add Log</a>
    <!-- <div class="title">Title</div> -->
    <button class="button button-assertive icon-left ion-trash-a" ng-click="delete()">Delete LMCC</button>
  </div>
</ion-view>