<ion-view title="Start Up Data">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-controller="SettingsCtrl">
    <div class="list">
      <div class="item item-button-right" ng-repeat="item in startUpItems">
        {{item.name}}
        <a class="button {{item.buttonType}}" href="loadStartUp({{item.model}})">
          <i class="icon {{item.buttonIcon}}"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
