<ion-view title="Harvesting">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-refresh button-energized pull-right" ng-click="reload()">
    	Reload
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h4 ng-if="noData" class="assertive center padding">No data found to perform operation. Please reload.</h4>
    <div class="list card">
    <a href="#/app/tifs" class="item item-icon-left item-icon-right">
      <i class="icon ion-navicon-round"></i>
      Tree Information Form
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a> <br>
    <a href="#app/ppcs" class="item item-icon-left item-icon-right">
      <i class="icon ion-android-stair-drawer"></i>
      Plantation Production Certificate
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

  </div>
  </ion-content>
</ion-view>
