<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">
      <i class="badge badge-balanced" ng-if="isOnline"> Online</i>
      <i class="badge badge-assertive" ng-if="!isOnline"> Offline</i>
      {{version}}
      </h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      <ion-item nav-clear menu-close href="#/app/welcome">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/login" ng-if="!loginStatus">
          Login
        </ion-item>        
        <ion-item nav-clear menu-close ng-click="logout()" ng-if="loginStatus">
          Log Out (<span class="positive">{{currentUser}}</span>)
        </ion-item>
         
        <!--<ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/harvest">
          Harvest
        </ion-item> 
        <ion-item nav-clear menu-close href="#/app/survey">
          Survey
        </ion-item>-->
        <ion-item nav-clear menu-close href="#/app/sync">
          Sync Center
        </ion-item>
        <!-- <ion-item nav-clear menu-close ng-click="exitApp()">
          Quit
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
