<ion-view title="Sync Center">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <div class="center"><h4>Select data to Sync</h4></div>
    <form role="form" ng-submit="synchronize(models)">
	    <ul class="list">
	    	<!-- <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.tif">
	         </label>
	         TIF
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox">
	         </label>
	         LIF
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.lmcc">
	         </label>
	         LMCC
	         <i class="icon ion-social-buffer"></i>
	      </li> -->
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.forest">
	         </label>
	         Forest
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.species">
	         </label>
	         Species
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.location">
	         </label>
	         Locations
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.contractor">
	         </label>
	         Contractor
	         <i class="icon ion-social-buffer"></i>
	      </li>
	      <li class="item item-checkbox item-icon-right">
	         <label class="checkbox">
	           <input type="checkbox" ng-model="models.landowner">
	         </label>
	         Landowner
	         <i class="icon ion-social-buffer"></i>
	      </li>
	    </ul>

	    <button class="button button-block button-positive"
	    	type="submit">
	    	<i class="icon ion-refresh"></i>
	      Synchronize
	    </button>
    </form>
  </ion-content>
 </ion-view>