<div class="modal">
  <ion-header-bar>
    <h1 class="title">Syncing Data</h1>
    <div class="buttons" ng-if="syncfinished">
      <button class="button button-clear" ng-click="close()">X</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="item item-avatar">
        <img src="images/survey.png">
        <h2>{{report_title}}</h2>
        <!-- {{survey.no}}<br/>
        <b>Compartment : {{ survey.rSWforestCertCompartment.no}}</b><br/>
            {{ survey.rSWcontractor.name}} (<b>{{ survey.rSWcontractor.code}}</b>) -->
      </div>
      <div class="item item-body"> 
        <div ng-if="!syncfinished" style="background:url(images/sync_icon.gif) no-repeat center center; height: 10px; width:100%"> </div>
        <div class="item">
          <b>Items to Sync:</b> <span  class="badge badge-positive"> {{totalToSync || 0 }}</span>
        </div>
        <div class="card">
          <div ng-if="success_report" class="item item-text-wrap">
            <h3 class="balanced">Success Report</h3>
            {{success_report}}
          </div>
          <div ng-if="failure_report.length > 0" class="item item-text-wrap">
            <h3 class="assertive">Fail Report</h3>
            <span  class="badge badge-assertive"> {{failure_report.length || 0 }}</span>
            <li ng-repeat="report in failure_report">
              {{report}}
            </li>
          </div>
        </div>
      </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <div ng-if="syncfinished" class="buttons" ng-click="close()">
      <button class="button icon ion-close-circled">Close</button>
    </div>
  </ion-footer-bar>
</div>
