<ion-view title="Transportation">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-refresh button-energized pull-right" ng-click="reload()">
    	Reload
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h4 ng-if="noData" class="assertive center padding">No data found to perform operation except check point. Please reload.</h4>
    <div class="list card">
    <a href="#/app/lmccs" class="item item-icon-left item-icon-right">
      <i class="icon ion-navicon-round"></i>
      Natural Forest LMCC
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a><br>
    <a href="#/app/plmccs" class="item item-icon-left item-icon-right">
      <i class="icon ion-navicon-round"></i>
      Plantation LMCC
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
  </div>
  </ion-content>
</ion-view>
