<ion-view title="GWTS Mobile">
  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-header-bar>
    <h1 class="title">Welcome to GWTS</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="logo-centered">
      <img src="images/fc_logo.png">
    </div>
    <form role="form" ng-submit="setWork(work)">
      <div class="list list-inset">
         <label class="item item-input item-select">
          <div class="input-label">
            Operation
          </div>
          <select ui-select2 style="width:80%" data-placeholder='Select Operation' ng-model="work.operation" required >
            <option value=""></option>
            <option ng-repeat="operation in operations" value="{{operation}}">{{operation.name}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Forest
          </div>
          <!-- <ui-select ng-model="work.forest.selected" theme="select2" ng-disabled="disabled" style="min-width: 80%;">
            <ui-select-match placeholder="Select forest">{{$select.selected.code}}</ui-select-match>
            <ui-select-choices repeat="forest in forests">
              <div ng-bind-html="forest.name | highlight: $select.search"></div>
              <small>Name: {{forest.tradeName}}</small>
            </ui-select-choices>
          </ui-select> -->
          <select ui-select2 style="width:80%" data-placeholder='Select Forest' ng-model="work.forest" required >
            <option value=""></option>
            <option ng-repeat="forest in forests" value="{{forest}}">{{forest.code}}</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          <i class="ion-checkmark-circled"></i> Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
