<ion-view title="GWTS Mobile">
  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-header-bar>
    <h1 class="title">Welcome to GWTS</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="logo-centered">
      <img src="images/fc_logo.png">
    </div>
    <form role="form" ng-submit="setWork(work)">
      <div class="list list-inset">
         <label class="item item-input item-select">
          <div class="input-label">
            Operation
          </div>
          <select data-placeholder='Select Operation' ng-model="work.operation" required
            ng-options="operation as operation.name for operation in operations">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Forest
          </div>
          <select  ui-select2 data-placeholder='Select a Forest' ng-model="work.forest" style="min-width: 80%;">
            <option value=""></option>
            <option ng-repeat="forest in forests" value="{{forest}}">{{forest.code}}</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          <i class="ion-checkmark-circled"></i> Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
