<ion-view title="{{title}}">
  <ion-content class="has-header padding">
    <form ng-submit="addEntry(entry)">
      <div class="list">
        <label class="item item-input item-stacked-label item-select">
          <div class="input-label">Species</div>
          <select ng-model="entry.specie" ui-select2="" 
            data-placeholder='Select Specie' required style="width:80%" 
            ng-options="specie as specie.code + ' - ' + specie.tradeName for specie in species track by specie.oid">
            <option></option>
          </select>
        </label>
                
        <label class="item item-input">
          <span class="input-label">No of Logs</span>
          <input type="number" ng-model="entry.noLogs" step="any" min="1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Volume</span>
          <input type="number" ng-model="entry.volume" step="any" min="1" required>
        </label>   
      </div>
      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive icon-left ion-plus-circled" type="submit">Save</button>
          <a ng-show="editEntry" class="button button-assertive icon-left ion-close-circled" ng-click="removeEntry(entry._index)">Remove Entry</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>