<ion-view title="{{title}}">
  <!-- <ion-header-bar>
    <h1 class="title">{{title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogForm()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content class="has-header padding">
    <form ng-submit="addLog(log)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Log No</span>
          <input type="text" ng-model="log.logNo" required>
        </label>
        <label class="item item-input item-stacked-label item-select">
          <div class="input-label">Species</div>
          <select ng-model="log.specie" ui-select2="" 
            data-placeholder='Select Specie' required style="width:80%" 
            ng-options="specie as specie.code + ' - ' + specie.tradeName for specie in species track by specie.oid">
            <option></option>
          </select>
        </label>
              
        <label class="item item-input">
          <span class="input-label">Mid-Point Diameter</span>
          <input type="number" ng-model="log.dmp" step="any" required min="1">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Length</span>
          <input type="number" ng-model="log.length" step="any" min="1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Volume</span>
          <input type="text" ng-model="log.volume" readonly="readonly" required>
        </label>   
      </div>
      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive icon-left ion-plus-circled" type="submit">Save</button>
          <a ng-show="editLog" class="button button-assertive icon-left ion-close-circled" ng-click="removeLog(log._index)">Remove Log</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>