<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(plmcc)">
    <div class="list">
      <li class="item item-toggle">
         Auto-Generate Reference
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="plmcc.generateId" ng-change="referenceChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input item-button-right">
        <span class="input-label">Reference Number</span>
        <input type="text" ng-model="plmcc.no" required ng-readonly="plmcc.generateId">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Permit
        </div>
        <select ng-model="plmcc.permit" required 
          ng-options="permit as permit.registerCode for permit in permits track by permit.oid">
        </select>
      </label>
      
      <label class="item item-input">
        <span class="input-label">Vehicle</span>
        <input type="text" ng-model="plmcc.vehicle" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Driver</span>
        <input type="text" ng-model="plmcc.driver" required>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Destination
        </div>
        <select ui-select2 style="width:80%"  ng-model="plmcc.destination" required 
          ng-options="destination as destination.location for destination in destinations track by destination.location">
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">PPC 1</span>
        <input type="text" ng-model="plmcc.ppc1" required>
      </label>
      <label class="item item-input">
        <span class="input-label">PPC 2</span>
        <input type="text" ng-model="plmcc.ppc2">
      </label>
      <label class="item item-input">
        <span class="input-label">PPC 3</span>
        <input type="text" ng-model="plmcc.ppc3">
      </label>
      <label class="item item-input">
        <span class="input-label">PPC 4</span>
        <input type="text" ng-model="plmcc.ppc4">
      </label>
      <label class="item item-input">
        <span class="input-label">PPC 5</span>
        <input type="text" ng-model="plmcc.ppc5">
      </label>
      <label class="item item-input">
        <span class="input-label">Supervisor</span>
        <input type="text" ng-model="plmcc.supervisor" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="plmcc.date" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Expire Date</span>
        <input type="date" ng-model="plmcc.expireDate" required>
      </label>
      <label class="item item-input">
        <textarea ng-model="plmcc.notes" rows="4" placeholder="Comments"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-checkmark-circled"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>