<ion-view title="PLMCC">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose"
      href="#/app/plmcc/{{plmcc._index}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{plmcc.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>Permit:</strong>{{plmcc.permit.registerCode}}</p>
        <p><strong>Plantation Area:</strong>{{plmcc.permit.rSWlocation.location}}</p>
        <p><strong>Contractor:</strong>{{plmcc.permit.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{plmcc.supervisor}}</p>
        <p><strong>Destination:</strong>{{plmcc.destination.location}}</p>
        <p>
          <strong>Vehicle Number:</strong>{{plmcc.vehicle}}
          <strong class="rec2">Driver Name:</strong>{{plmcc.driver}}
        </p>
        <p>
          <strong>Number of Logs:</strong>{{plmcc.rSWdeliveryDocketLine.length || 0}}
          <strong class="rec2">Total Volume:</strong>{{plmcc.totalVolume || 0}}
        </p>
        <p><strong>Date:</strong>{{plmcc.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div class="list" style="margin-bottom:0px">
      <li class="item item-toggle">
         Summarized Entry
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="plmcc.summaryEntry" ng-change="setEntryModel(plmcc)" ng-disabled="plmcc.rSWdeliveryDocketLine.length > 0 || plmcc.rSWdeliverySummaryLine.length > 0">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </div>
    <div ng-if="!plmcc.summaryEntry">
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{plmcc.rSWdeliveryDocketLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in plmcc.rSWdeliveryDocketLine track by log.lineNo" href="#/app/plantlog/{{plmcc._index}}/{{$index}}">
          <ul>
            <li><strong>Log Number: </strong>{{log.logNo}}</li>
            <li><strong>Species: </strong>{{log.specie.code}} - {{log.specie.tradeName}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="plmcc.summaryEntry">
      <ion-list>
        <div class="item item-divider">
          Entries
          <span class="badge">{{plmcc.rSWdeliverySummaryLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in plmcc.rSWdeliverySummaryLine track by log.lineNo" href="#/app/plantentry/{{plmcc._index}}/{{$index}}">
          <ul>
            <li><strong>Species: </strong>{{log.specie.code}} - {{log.specie.tradeName}}</li>
            <li><strong>Logs: </strong>{{log.noLogs}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <a ng-if="!plmcc.summaryEntry" class="button button-static icon-left ion-plus-circled" href="#/app/plantlog/{{plmcc._index}}/new">Add Log</a>
    <a ng-if="plmcc.summaryEntry" class="button button-static icon-left ion-plus-circled" href="#/app/plantentry/{{plmcc._index}}/new">Add Entry</a>
    <!-- <div class="title">Title</div> -->
    <button class="button button-assertive icon-left ion-trash-a" ng-click="delete()">Delete PLMCC</button>
  </div>
</ion-view>