<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(item)" name="itemForm" id="itemForm">
    <div class="list">
      <label class="item item-input item-stacked-label item-select">
        <span class="input-label">Stock Tree / Feature</span> <br>
        <select ui-select2 style="width:80%" ng-model="item.type" data-placeholder='Select Tree or Feature' data-required="true" data-required-message="Please select at Tree or land feature" >
          <option  ng-show="itemType.value == item.type" selected value="{{itemType.value}}" >{{itemType.name}}</option>
          <option  ng-repeat="itemType in itemTypes" value="{{itemType.value}}">{{itemType.name}}</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Distance Along</span>
        <input value="{{item.metresAlong}}" placeholder="Distance Along" type="number" ng-model="item.metresAlong" data-required="true" data-required-message="Please enter the distance along the stripline"  data-parsley-trigger="change" required >
        <!-- <p ng-show="itemForm.along.$invalid && !itemForm.along.$pristine" class="help-block">Please enter the distance along the stripline</p> -->
      </label>
      <div id="condition_details" ng-if="item.type === 'cond.Score'">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Condition Score</span>
          <select ng-model="item.conditionScore" ng-options="condition_score for condition_score in condition_scores" id="conditionScore"></select>
        </label>
      </div>
      <div ng-if="isTree()">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Offset from Stripline</span>
          <input placeholder="Offset" type="number" name="offset" ng-model="item.offset" data-required="true" data-max-message="The offset cannot be more than 30 meters" data-max="30" data-required-message="Offset is required"/>
          <!-- <p ng-show="itemForm.offset.$invalid && !itemForm.offset.$pristine && isTree()" class="help-block">Please enter Offset</p>
          <p ng-show="isTree() && item.offset > 30" class="help-block">The offset cannot be more than 30 meters</p> -->
        </label>      
        <label class="item item-input item-stacked-label">
          <span class="input-label">Stock Number</span>
          <input placeholder="Stock Number" type="number" name="stockNo" ng-model="item.stockNo" value="{{item.stockNo}}" data-required="true" data-required-message="Please enter the stock number"/>
          <label class="item item-input item-stacked-label" style="border:0px;">
            <div class="input-label">
              If Tree was missed
            </div>
            <select ui-select2 style="width:30%" name="suffix" ng-model="item.suffix" data-placeholder='Select Tree or Feature'>
              <option></option>
              <option  ng-show="suffix == item.suffix" selected value="{{suffix}}" >{{suffix}}</option>
              <option  ng-repeat="suffix in suffices" value="{{suffix}}">{{suffix}}</option>
            </select>
          </label>
         <!--  <p ng-show="isTree() && itemForm.stockNo.$invalid && !itemForm.stockNo.$pristine" class="help-block">Please enter Stock Number</p> -->
          <p ng-show="isTree() && valStock()" class="help-block">Stock number already exists</p>
        </label>
        <label class="item item-input item-stacked-label item-select">
          <span class="input-label">Species</span><br>
          <select ui-select2 style="width:80%" name="specie"  data-placeholder='Select Specie' ng-model="item.rSWspecies" id="tree_species" required>
            <option value=""></option>
            <option  ng-show="specie.oid == item.rSWspecies" selected value="{{specie.oid}}" >{{specie.code}} - {{specie.tradeName}}</option>
            <option  ng-repeat="specie in species" value="{{specie.oid}}" >{{specie.code}} - {{specie.tradeName}}</option>
          </select>
         <!--  <p ng-show="isTree() && itemForm.specie.$invalid && !itemForm.specie.$pristine" class="help-block">Please enter Tree Specie</p> -->
        </label>
        <div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">DBH</span>
            <input placeholder="0.0" type="number" ng-model="item.dbh" name="dbh" data-required="true" data-required-message="Please enter the diameter" />
          </label>
          <li class="item item-checkbox">150 Plus
            <label class="checkbox checkbox-primary">
              <input type="checkbox" ng-model="item.dbhPlus" ng-true-value="True" ng-false-value="False">
              <div class="track"><div class="handle"></div></div>
            </label>
          </li>
          <p ng-show="isTree() && itemForm.dbh.$invalid && !itemForm.dbh.$pristine" class="help-block">Please enter the diameter or Select 150 Plus</p>
        </div>
        <label class="item item-input item-stacked-label"><b>Attributes</b></label>
        <ul class="list "> 
          <li class="item item-checkbox">Seed Tree
            <label class="checkbox checkbox-balanced">
              <input type="checkbox" ng-model="item.seedTree" ng-true-value="True" ng-false-value="False" id="seed">
            </label>
          </li>
          <li class="item item-checkbox">Access Issues
            <label class="checkbox checkbox-balanced">
              <input type="checkbox" ng-model="item.accessIssues" ng-true-value="True" ng-false-value="False" id="accessIssues">
            </label>
          </li>
        
          <li class="item item-checkbox">Damaged Tree
            <label class="checkbox checkbox-balanced">
              <input type="checkbox" ng-model="item.damaged" ng-true-value="True" ng-false-value="False" id="damaged">
            </label>
          </li>
          <li class="item item-checkbox">Canoe Tree
            <label class="checkbox checkbox-balanced">
              <input type="checkbox" ng-model="item.canoeTree" ng-true-value="True" ng-false-value="False" id="canoe">
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-checkmark-circled"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>
<script type="text/javascript">
  $(document).ready(function () {
    $('#itemForm').parsley();
  });
</script>