<ion-view title="Stripline Items for Stripline Number {{stripline.no}} in Check Survey {{survey.no}}">
	<ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-plus-circled button-positive"
     	ng-click="new({{stripline._index}})">Create
    </a> 
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search for Items on this Stripline..."
      ng-model="filter_text" />
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item collection-repeat="item in striplineItems | filter : filter_text | orderBy:item.stockNo:false" 
      item="item" 
      class="my-item"
      collection-item-height="getItemHeight()"
      collection-item-width="'100%'" 
      href="#/app/editstriplineitemcheck/edit/{{stripline._index}}/{{item._index}}">
        <div class="col" ng-hide="isTree(item)">
          <h2>
            <span ng-show="{{item.type == 'cond.Score'}}">Condition Score : <span class="">{{item.conditionScore}}</span></span>
            <span ng-show="{{item.type != 'cond.Score'}}">{{item.type}}</span>
          </h2>
        </div>
        <span ng-show="isTree(item)"><h2>Stock No. {{item.stockNo}}</h2></span>
        <span ng-show="isTree(item)">{{item.rSWspecies}}<br></span>
        <span ng-show="isTree(item)"><span class="item-note"><b>DBH </b>  {{item.dbh}}</span></span><br>
        <span ng-show="isTree(item)" class="badge badge-positive">Along : {{item.metresAlong}}</span> 
        <div ng-hide="isTree(item)">
          <span ng-show="{{item.type == 'cond.Score'}}" class="badge badge-energized">Along : {{item.metresAlong}}<br></span> 
          <span ng-show="{{item.type != 'cond.Score'}}" class="badge badge-balanced">Along : {{item.metresAlong}}<br></span> 
        </div>
        <span ng-show="isTree(item)" class="item-note"><b>Offset </b>  {{item.offset}}</span>
        <!-- <ion-option-button class="ion-document-text button-positive" href="#/app/showstriplineitem/show/{{stripline._index}}/{{item._index}}"> View</ion-option-button> -->
        <ion-option-button class="ion-minus-circled button-assertive" ng-click="delete(item)"> Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="item item-divider">
      <button class="button button-full button-positive">
        Send data to the serve
      </button>
    </div>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding-left:20px;">
    <span><b>Total Items : </b><i class="badge badge-calm"> {{striplineItems.length || 0}}</i></span>
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <span ><b>Items to Sync:</b> <i class="badge badge-assertive"> {{totalToSync || 0 }}</i></span>
    <button ng-if="totalToSync > 0" class="button icon-left ion-paper-airplane button-energized pull-right"  ng-click="sync()">Send items from this stripline to server</button>
  </ion-footer-bar>
</ion-view>

