<ion-view title="{{title}}">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose button-positive"
      href="#/app/editstriplineitem/edit/{{stripline._index}}/{{striplineItem._index}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-text-wrap card-info">
        <p><strong>TUC:</strong>{{striplineItem.cerstriplineItemicate.registerCode}}</p>
        <p><strong>Compartment:</strong>{{striplineItem.compartment.no}}</p>
        <p><strong>Contractor:</strong>{{striplineItem.cerstriplineItemicate.rSWcontractor.name}}</p>
        <p><strong>Stock Survey No.:</strong>{{striplineItem.supervisor}}</p>
        <p><strong>Stripline No.:</strong>{{stripline.no}}</p>
        <p><strong>Stripline Direction:</strong>{{stripline.direction}}</p>
        <p><strong>Stripline Length:</strong>{{stripline.length}}</p>
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>Stock No</strong>{{striplineItem.stockNo}}</p>
        <p><strong>Species</strong>{{striplineItem.species}}</p>
        <p><strong>Direction</strong>{{striplineItem.type}}</p>
        <p><strong>DBH</strong>{{striplineItem.dbh}}</p>
        <p><strong>Offset</strong>{{striplineItem.offset}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>