<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(lif)">
    <div class="list">
      <li class="item item-toggle">
         Auto-Generate Reference
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="lif.generateId" ng-change="referenceChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input item-button-right">
        <span class="input-label">Reference Number</span>
        <input type="text" ng-model="lif.no" required ng-readonly="lif.generateId">
      </label>      
      <label class="item item-input item-select">
        <div class="input-label">
          Compartment
        </div>
        <select ng-model="lif.compartment" required 
          ng-options="compartment as compartment.no for compartment in compartments">
        </select>
      </label>
      <label class="item item-input">
        <div class="input-label">
          Contractor
        </div>
        <select ng-model="lif.contractor" required ui-select2
          ng-options="contractor as contractor.name for contractor in contractors">
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="lif.date" required>
      </label>
      <label class="item item-input">
        <textarea ng-model="lif.notes" rows="4" placeholder="Comments"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-android-archive"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>