<ion-view title="Log Information Form">
	<ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-plus-circled"
     	href="#/app/lif/new">Create
    </a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search..."
      ng-model="filter_text">
  </ion-header-bar>
  <ion-content class="has-header">
    <div>
      <ion-list class="">
        <div class="item item-divider">
          LIF
          <span class="badge">{{lifs.length || 0}}</span>
        </div>
        <ion-item 
        	collection-repeat="lif in lifs | filter : filter_text"
	        collection-item-width="'100%'"
	        collection-item-height="getItemHeight()"
	        class="my-item" href="#/app/lifs/{{lif._id}}">
	        {{lif.no}} <span class="badge">Volume: {{lif.totalVolume || 0}}</span>
	      </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <button class="button icon ion-paper-airplane pull-right" ng-click="sync()">Send data to server</button>
  </ion-footer-bar>
</ion-view>