<ion-view title="LIF">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose"
      href="#/app/lif/{{lif._id}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{lif.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>TUC:</strong>{{lif.cerlificate.registerCode}}</p>
        <p><strong>Compartment:</strong>{{lif.compartment.no}}</p>
        <p><strong>Contractor:</strong>{{lif.cerlificate.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{lif.supervisor}}</p>
        <p><strong>Number of Logs:</strong>{{lif.rSWdeliveryDocketLine.length || 0}}</p>
        <p><strong>Total Volume:</strong>{{lif.totalVolume || 0}}</p>
        <p><strong>Date:</strong>{{lif.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div>
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{lif.rSWdeliveryDocketLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in lif.rSWlogInformationLine track by log.lineNo" ng-click="showLogForm(log)">
          <ul>
            <li><strong>Stock Number: </strong>{{log.stockNo}}</li>
            <li><strong>Species: </strong>{{log.specie.code}} - {{log.specie.tradeName}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <button class="button button-static icon-left ion-plus-circled" ng-click="showLogForm()">Add Log</button>
    <!-- <div class="title">Title</div> -->
    <!-- <button class="button button-assertive icon-left ion-trash-a">Delete</button> -->
  </div>
</ion-view>