<ion-view title="Tree Information">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-compose"
      href="#/app/tif/{{tif._index}}">Edit
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{tif.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>TUC:</strong>{{tif.certificate.registerCode}}</p>
        <p><strong>Compartment:</strong>{{tif.compartment.no}}</p>
        <p><strong>Contractor:</strong>{{tif.certificate.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{tif.supervisor}}</p>
        <p><strong>Number of Trees:</strong>{{tif.rSWtreeInformationLine.length || 0}}</p>
        <p><strong>Total Volume:</strong>{{tif.totalVolume || 0}}</p>
        <p><strong>Date:</strong>{{tif.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div class="down-margin">
      <ion-list>
        <div class="item item-divider">
          Trees
          <span class="badge">{{tif.rSWtreeInformationLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="tree in tif.rSWtreeInformationLine track by tree.lineNo" href="#/app/tree/{{tif._index}}/{{$index}}">
          <ul>
            <li><strong>Stock Number: </strong>{{tree.stockNo}}</li>
            <li><strong>Species: </strong>{{tree.specie.code}} - {{tree.specie.tradeName}}</li>
            <span class="badge">Volume: {{tree.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <a class="button button-static  icon-left ion-plus-circled" href="#/app/tree/{{tif._index}}/new">Add Tree</a>
    <!-- <div class="title">Title</div> -->
    <button class="button button-assertive icon-left ion-trash-a" ng-click="delete()">Delete TIF</button>
  </div>
</ion-view>