<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(tif)">
    <div class="list">
      <li class="item item-toggle">
         Auto-Generate Reference
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="tif.generateId" ng-change="referenceChange()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input item-button-right">
        <span class="input-label">Reference Number</span>
        <input type="text" ng-model="tif.no" required ng-readonly="tif.generateId">
      </label>
      <label class="item item-input item-select" ng-if="offReserve">
        <div class="input-label">
          Certificate
        </div>
        <select ng-model="tif.certificate" required 
          ng-options="certificate as certificate.registerCode for certificate in certificates track by certificate.oid">
        </select>
      </label>
      <label class="item item-input item-select" ng-if="!offReserve">
        <div class="input-label">
          Compartment
        </div>
        <select ng-model="tif.compartment" required 
          ng-options="compartment as compartment.no for compartment in compartments track by compartment.no">
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Supervisor</span>
        <input type="text" ng-model="tif.supervisor" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="tif.date" required>
      </label>
      <label class="item item-input">
        <textarea ng-model="tif.notes" rows="4" placeholder="Comments"></textarea>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-checkmark-circled"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>