<ion-view title="{{title}}">
  <ion-content class="has-header padding">
    <form ng-submit="addTree(tree)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Stock Number</span>
          <input type="number" ng-model="tree.stockNo" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contractor No.</span>
          <input type="number" ng-model="tree.contractorNo" required>
        </label>
        <label class="item item-input item-stacked-label item-select">
          <span class="input-label">Species</span>
          <!-- <select ng-model="tree.specie" ui-select2="" 
            data-placeholder='Select Specie' required style="width:80%" 
            ng-options="specie as specie.code + ' - ' + specie.tradeName for specie in species track by specie.oid">
            <option></option>
          </select> -->
          <ion-select label="Placa do Veículo" label-field="tradeName" provider="species"  ng-model="veiculo"/>

        </label>
        <li class="item item-toggle">
         <label><strong>2-Diameter Measurement</strong></label>
         <label class="toggle toggle-calm">
           <input type="checkbox" ng-model="tree.measurement">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>        
        <label class="item item-input">
          <span class="input-label">DB 1</span>
          <input type="number" ng-model="tree.db1" step="any" required min="1">
        </label>
        <label class="item item-input" ng-show="(tree.measurement)">
          <span class="input-label">DB 2</span>
          <input type="number" ng-model="tree.db2" step="any" min="0">
        </label>
        <label class="item item-input" ng-show="(tree.measurement)">
          <span class="input-label">DB</span>
          <input type="number" ng-model="tree.db" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">DT 1</span>
          <input type="number" ng-model="tree.dt1" step="any" required>
        </label>
        <label class="item item-input" ng-show="(tree.measurement)">
          <span class="input-label">DT 2</span>
          <input type="number" ng-model="tree.dt2" step="any" min="0">
        </label>
        <label class="item item-input" ng-show="(tree.measurement)">
          <span class="input-label">DT</span>
          <input type="number" ng-model="tree.dt" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">Length</span>
          <input type="number" ng-model="tree.length" step="any" min="1" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Bole Volume</span>
          <input type="text" ng-model="tree.boleVolume" readonly="readonly">
        </label>
        <label class="item item-input">
          <span class="input-label">Branch Volume</span>
          <input type="number" ng-model="tree.branchVolume" step="any" required min="0">
        </label>
        <label class="item item-input">
          <span class="input-label">Volume</span>
          <input type="text" ng-model="tree.volume" readonly="readonly" required>
        </label>   
      </div>
      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive icon-left ion-plus-circled" type="submit">Save</button>
          <a ng-show="editTree" class="button button-assertive icon-left ion-close-circled" ng-click="removeTree(tree._index)">Remove Tree</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>