<ion-view title="{{title}}">
  <ion-nav-buttons side="right">
    <a class="button button-clear icon-left ion-plus-circled button-positive"
      ng-click="edit({{stripline._index}})">Edit
    </a> 
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Line No: {{stripline.no}} <br>
        Offset : {{stripline.offset}} <br>
        Length : {{stripline.length}} <br>
        Direction : {{stripline.direction}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>TUC:</strong>{{stripline.cerstriplineicate.registerCode}}</p>
        <p><strong>Compartment:</strong>{{stripline.compartment.no}}</p>
        <p><strong>Contractor:</strong>{{stripline.cerstriplineicate.rSWcontractor.name}}</p>
        <p><strong>Stock Survey No.:</strong>{{stripline.supervisor}}</p>
        <p><strong>Number of Items:</strong>{{stripline.rSWstriplines.length || 0}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>