/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.center{
	text-align: center;
}

.logo-centered{
	text-align: center; 
	margin-top:50px;
	padding:10px;
}

.my-item {
  left: 0;
  right: 0;
}

.card-info p strong{
	margin-right: 5px;
}

.rec2{
  margin-left: 30px;
}
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
input.ng-valid.ng-dirty {
  border: 1px solid white;
}

.lmcc{
  background-color: assertive;
}

.ltc{
  background-color: success;
}

.down-margin{
  margin-bottom: 80px;
}

.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}

.parsley-error-list {
    color: #B94A48 !important;
    list-style: none !important;
}

.parsley-required {
  font-size: 80%;
  color: red;
}
