<ion-view title="{{title}}">
  <ion-content class="has-header">
  <form role="form" ng-submit="save(stripline)">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Stripline No</span>
        <input type="number" ng-model="stripline.no" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Length</span>
        <input type="number" ng-model="stripline.length" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Offset from Base Point</span>
        <input type="number" ng-model="stripline.offset" required>
      </label>      
      <label class="item item-input item-select">
        <div class="input-label">Direction</div>
        <select ng-model="stripline.direction" required ng-options="direction for direction in directions"></select>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" type="submit">
        <i class="ion-checkmark-circled"></i> Save
      </button>
    </div>
  </form>
  </ion-content>
</ion-view>