<ion-view title="Striplines in Check Survey No.{{survey.no}} ({{striplines.length || 0}})">
	 <!-- <ion-nav-buttons side="right">
  <a class="button button-clear icon-left ion-plus-circled button-positive"
      ng-click="new({{survey.oid}})">Create
    </a>
   <a class="button button-clear icon-left ion-plus-circled button-positive"
     	href="#/app/stripline/new/{{survey.oid}}">Create
    </a> 
  </ion-nav-buttons>--> 
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search..."
      ng-model="filter_text">
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder" >
      <ion-item ng-repeat="stripline in striplines | filter : filter_text"  item="item" href="#/app/striplineItemscheck/{{stripline._index}}" >
        <span style="font-size: 15px; font-weight:bold">{{ stripline.no }}</span>
        <span class="item-note right">
          <h3>{{ stripline.direction}}</h3>
          <b>{{ stripline.length}}</b>
        </span>
        <!-- <ion-option-button class="ion-document-text button-positive" ng-click="show({{stripline._index}})"> View</ion-option-button>
        <ion-option-button class="ion-ios7-compose button-energized" ng-click="edit({{stripline._index}})">Edit</ion-option-button>
        <ion-option-button class="ion-minus-circled button-assertive" ng-click="delete(stripline)"> Delete</ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding-left:20px;">
    <span style="text-align:center"><b>Total Items</b><i class="badge badge-calm"> {{striplines.length || 0}}</i></span>
    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-align:center"><b>Items to Sync</b> <i class="badge badge-assertive"> {{totalToSync || 0 }}</i></span>
    <button ng-if="totalToSync > 0" class="button icon-left ion-paper-airplane button-energized pull-right"  ng-click="sync()">Send stock survey to server</button>
  </ion-footer-bar>
</ion-view>