<ion-view title="Stock Surveys - ({{surveys.length || 0}})">
	<ion-nav-buttons side="left">
    <a class="button button-clear icon-right"
     	href="#/app/welcome">
    </a> 
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon-left ion-refresh button-energized pull-right"
      ng-click="reloadSurvey()">
    </a> 
  </ion-nav-buttons>
  <ion-header-bar class="bar-light bar-subheader">
    <input type="search"
      placeholder="Search..."
      ng-model="filter_text">
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
        <a ng-repeat="survey in surveys | filter : filter_text" 
           href="#/app/striplines/{{survey.oid}}"
           class="item item-thumbnail-left">
          <img ng-src="images/survey.png">
          <h2>{{ survey.no }}</h2>
          <h4>Compartment : <b>{{ survey.rSWforestCertCompartment.no}}</b></h4>
            {{ survey.rSWcontractor.name}} <br/>
            {{ survey.rSWcontractor.code}}
        </a>
      </div>
  </ion-content>
</ion-view>