<ion-view title="Check Log Certificate">
  <ion-content class="has-header">
     <form role="form" ng-submit="search(docket)">
      <div class="list list-inset">
         <label class="item item-input item-select">
          <div class="input-label">
            Document Type
          </div>
          <select ng-model="docket.docType" required
            ng-options="docType as docType.name for docType in docTypes">
          </select>
        </label>
        <label class="item item-input">
          <div class="input-label">
            Rerefence Number
          </div>
          <input type="text" ng-model="docket.referenceNumber" required>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          <i class="ion-checkmark-circled"></i> Search
        </button>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <!-- <button class="button icon ion-paper-airplane" ng-click="pullDockets()">Pull new LMCCs</button> -->
  </ion-footer-bar>
</ion-view>