<ion-view title="Docket">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{lmcc.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p>
          <strong>TUC:</strong>{{lmcc.rSWforestCertificate.registerCode}}
          <strong class="rec2">Compartment:</strong>{{lmcc.rSWcompartment.no}}
        </p>
        <p><strong>Contractor:</strong>{{lmcc.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{lmcc.supervisor}}</p>
        <p><strong>Destination:</strong>{{lmcc.rSWdestination.location}}</p>
        <p>
          <strong>Vehicle Number:</strong>{{lmcc.vehicle}}
          <strong class="rec2">Driver Name:</strong>{{lmcc.driver}}
        </p>
        <p>
          <strong>Number of Logs:</strong>{{lmcc.rSWdeliveryDocketLineOid.length || 0}}
          <strong class="rec2">Total Volume:</strong>{{lmcc.totalVolume || 0}}
        </p>
        <p><strong>Date:</strong>{{lmcc.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div>
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{lmcc.rSWdeliveryDocketLineOid.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in lmcc.rSWdeliveryDocketLineOid">
          <ul>
            <li><strong>Log Number: </strong>{{log.logNo}}</li>
            <li><strong>Species: </strong>{{log.rSWspecies.code}} - {{log.rSWspecies.tradeName}}</li>
            <li><strong>Db: </strong>{{log.db1}}  <strong>Dt: </strong>{{log.dt1}}</li>
            <li><strong>Length: </strong>{{log.length}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <button class="button button-balanced icon-left ion-checkmark-circled" ng-click="confirm()">Confirm LMCC</button>
    <!-- <div class="title">Title</div> -->
    <button class="button button-assertive icon-left ion-close-circled" ng-click="mismatch()">LMCC Mistmatch</button>
  </div>
</ion-view>