<ion-view title="Check Point">
  <ion-content class="has-header">
    <div class="list card">
		  <a href="#/app/checkcertificate" class="item item-icon-left item-icon-right">
		    <i class="icon ion-clipboard"></i>
		    Check Log Certificate
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a><br>
		  <a href="#/app/register" class="item item-icon-left item-icon-right">
		    <i class="icon ion-ios7-paper"></i>
		    Register
		    <i class="icon ion-chevron-right icon-accessory"></i>
		  </a>
		</div>
  </ion-content>
</ion-view>
