<ion-view title="RLMCC">
  <ion-nav-buttons side="right">
    <button class="button button-assertive icon-left ion-trash-a" ng-click="delete()">Delete</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Reference Number: {{rlmcc.no}}
      </div>
      <div class="item item-text-wrap card-info">
        <p><strong>LMCC Reference:</strong>{{rlmcc.lmccNo}}</p>
        <p>
          <strong>TUC:</strong>{{rlmcc.rSWforestCertificate.registerCode}}
          <strong class="rec2">Compartment:</strong>{{rlmcc.rSWcompartment.no}}
        </p>
        <p><strong>Contractor:</strong>{{rlmcc.rSWcontractor.name}}</p>
        <p><strong>Supervisor:</strong>{{rlmcc.supervisor}}</p>
        <p><strong>Destination:</strong>{{rlmcc.rSWdestination.location}}</p>
        <p>
          <strong>Vehicle Number:</strong>{{rlmcc.vehicle}}
          <strong class="rec2">Driver Name:</strong>{{rlmcc.driver}}
        </p>
        <p>
          <strong>Number of Logs:</strong>{{rlmcc.rSWdeliveryDocketLineOid.length || 0}}
          <strong class="rec2">Total Volume:</strong>{{rlmcc.totalVolume || 0}}
        </p>
        <p><strong>Date:</strong>{{rlmcc.date | date: 'fullDate'}}</p>
      </div>
    </div>
    <div>
      <ion-list>
        <div class="item item-divider">
          Logs
          <span class="badge">{{rlmcc.rSWremeasurementLine.length || 0}}</span>
        </div>
        <ion-item class="item-icon-right" ng-repeat="log in rlmcc.rSWremeasurementLine track by log.lineNo" ng-click="showLogForm(log, $index)">
          <ul>
            <li><strong>Log Number: </strong>{{log.logNo}}</li>
            <li><strong>Species: </strong>{{log.specie.code}} - {{log.specie.tradeName}}</li>
            <span class="badge">Volume: {{log.volume || 0}}</span>
          </ul>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="bar bar-stable bar-footer">
    <button class="button button-static icon-left ion-plus-circled" ng-click="showLogForm()">Add Log</button>
    <!-- <div class="title">Title</div> -->
    <button ng-click="push()" class="button icon ion-paper-airplane pull-right button-energized">Send data to server</button>
  </div>
</ion-view>